.starting {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.starting h1 {
  font-size: 5rem;
}
.starting  table, th, td{
  border:1px solid black;
  border-collapse: collapse;
}